<html>
    <body>
        <head>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/4ec9c01e1c.js" crossorigin="anonymous"></script>
            <link rel="shortcut icon" type="x-icon" href="pictures/Profpic.png">
        </head>
        <header>
            <nav class="navbar">
                <ul>
                    <li>
                        <div class="LinkButton">
                            <a href="/tags"><i class="fa-solid fa-bars"></i></a>
                        </div>
                    </li>
                    <h1 id="jarkom">JARKOM</h1>
                    <div class="LinkButton">
                        <a id="app"href="/implementation">Aplikasi</a>
                    </div>
                </ul>
            </nav>
        </header>
        <div class="content">
            <p>Jarkom merupakan singkatan dari "jaringan komputer," yang merujuk pada studi, desain, 
                dan implementasi sistem komunikasi antara dua atau lebih perangkat yang terhubung satu sama lain melalui media seperti kabel, serat optik, atau nirkabel. 
                Jarkom melibatkan berbagai aspek termasuk topologi jaringan, protokol komunikasi, perangkat keras (hardware), perangkat lunak (software), serta keamanan jaringan.
            </p>
            <br>
            <h3>
                <b>Berikut adalah beberapa komponen utama yang terlibat dalam jarkom:</b>
            </h3>
            <p>
                <b>1. Topologi Jaringan:</b> Topologi menggambarkan cara perangkat dalam jaringan terhubung satu sama lain. Contohnya termasuk topologi bintang, topologi bus, topologi cincin, dan topologi mesh.
            </p>
            <p>
                <b>2. Protokol Komunikasi:</b> Protokol komunikasi adalah aturan dan format yang digunakan oleh perangkat dalam jaringan untuk berkomunikasi. Contohnya termasuk TCP/IP (Transmission Control Protocol/Internet Protocol), UDP (User Datagram Protocol), HTTP (Hypertext Transfer Protocol), dan lainnya.
            </p>
            <p>
                <b>3. Perangkat Keras (Hardware):</b> Ini mencakup semua perangkat fisik yang digunakan dalam jaringan, seperti router, switch, modem, kartu jaringan (network card), dan kabel jaringan.
            </p>
            <p>
                <b>4. Perangkat Lunak (Software):</b> Ini mencakup perangkat lunak yang digunakan untuk mengelola dan mengatur jaringan, seperti sistem operasi jaringan, firewall, antivirus, dan perangkat lunak manajemen jaringan.
            </p>
            <p>
                <b>5. Keamanan Jaringan:</b> Ini mencakup semua tindakan yang diambil untuk melindungi jaringan dari serangan dan ancaman keamanan, seperti enkripsi data, firewall, VPN (Virtual Private Network), dan deteksi intrusi.
            </p>
            <br>
            <h3><b>Contoh penerapan jaringan komputer dapat ditemukan di berbagai bidang, termasuk:</b></h3>
            <p><b>1. Kantor:</b> Sebuah kantor mungkin menggunakan jaringan lokal (LAN) untuk menghubungkan komputer, printer, dan perangkat lainnya agar dapat berbagi sumber daya dan informasi.</p>
            <p><b>2. Kampus Universitas:</b> Kampus universitas biasanya memiliki jaringan yang luas (WAN) yang menghubungkan berbagai bangunan dan departemen, memungkinkan akses internet, email, sistem perpustakaan, dan layanan lainnya.</p>
            <p><b>3. Internet:</b> Internet adalah contoh terbesar dari jaringan komputer global, yang menghubungkan jutaan perangkat di seluruh dunia, memungkinkan komunikasi, berbagi informasi, dan akses ke berbagai layanan.</p>
            <br>
            <p>Jarkom memiliki peran yang sangat penting dalam memfasilitasi komunikasi dan pertukaran informasi antara perangkat, organisasi, dan individu di era digital ini.</p>
            <p>tes</p>
        </div>
    </body>
</html>