<html>
    <body>
        <head>
            <link rel="stylesheet" href="/css/stylelinks.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        </head>
        <header>
            <div class="CircularImage">
                <img src="/pictures/ImageYes.png" alt="picture of meself :D"> 
            </div>
            <h3>Test Website</h3>
            <p>this is for testing :D</p>
        </header>
        <nav class="links">
            <!-- <button type="button" onclick="location.href='https://www.instagram.com/nathanjoviall/'">instagram</button> <br> -->
            <div class="LinkButton">
                <a href="/tags">Tags</a>
            </div>
            <!-- <a href="mailto:nathjovi899@gmail.com">email me!</a> -->
        </nav> 
    </body>
</html>