<html>
    <body>
        <head>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/4ec9c01e1c.js" crossorigin="anonymous"></script>
            <link rel="shortcut icon" type="x-icon" href="pictures/Profpic.png">
        </head>
        <header>
            <nav class="navbar">
                <ul>
                    <li>
                        <div class="LinkButton">
                            <a href="/tags"><i class="fa-solid fa-bars"></i></a>
                        </div>
                    </li>
                    <div class="LinkButton">
                        <a id="app"href="/implementation">Aplikasi</a>
                    </div>
                </ul>
            </nav>
        </header>
        <div>
            <h1>Jarkom</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias doloremque vero quam ut ullam fugit eos, quidem veritatis, nemo voluptatem dolor ad, sunt perspiciatis. Architecto consectetur fugit rem accusamus hic!</p>
        </div>
    </body>
</html>