.navbar ul{
    border-radius: 15px;
    background-color: black;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    list-style: none;
    background-color: black;
    text-decoration: none;
    color: aliceblue;
}

#app{
    margin-right: 38px;
}