<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li id="home"><a href="page1">Page 1</a></li>
            <li id="page2"><a href="page2">Page 2</a></li>
        </ul>
    </nav>
    <h1>Jarkom</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias doloremque vero quam ut ullam fugit eos, quidem veritatis, nemo voluptatem dolor ad, sunt perspiciatis. Architecto consectetur fugit rem accusamus hic!</p>
</body>
</html>